{% extends "layout.njk" %}

{% block content %}

    <div class="card">

        <section class="avatar"></section>

        <section class="details">

        <form method="POST" action="/students?_method=PUT">
                
                <h3>Editar Aluno(a)</h3>

                {% include "students/fields.njk" %}

                <input type="hidden" name="id" value="{{ student.id }}">
        </form>

        <form class="form-delete" method="POST" action="/students?_method=DELETE">

            <input type="hidden" name="id" value="{{ student.id }}">
            <button type="submit">Deletar</button>

        </form>

        <script>

            const formDelete = document.querySelector('.form-delete');
            formDelete.addEventListener('submit', (event) => {
                const confirmation = confirm('Tem certeza que deseja deletar os Dados?');
                if (!confirmation) {
                    event.preventDefault();
                };
            });

        </script>

        </section>

    </div>

{% endblock content %}